[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ludwig = "0.6"
essential_generators = "*"
faker = "*"
torch = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
