[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
metaflow = "*"
transformers = "*"
evaluate = "*"
pandas = "*"
pyarrow = "*"
torch = "*"
scikit-learn = "*"

[dev-packages]
pytest = "*"
mypy = "*"
ipykernel = "*"
python-dotenv = "*"
datasets = "*"

[requires]
python_version = "3.10"
