[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pydantic = "*"
pandas = "*"
bs4 = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"
mypy = "*"

[requires]
python = 3.10